<h1>Home#index</h1>

<div class="flexbox">
  <article class="summons">
    <h1>呼び出し情報</h1>
		<%= render template: "summonses/index" %>
  </article>
  <article class="schedule">
    <h1>今後の予定</h1>
		<%= render template: "schedules/index" %>
  </article>
</div>
