// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.summons {
  background: #01DF01;
}

.schedule {
  background: #0431B4;
}

.summons, .schedule {
  color: rgba(255, 255, 255, 0.4);
  padding: 2%;
  text-align: center;
}

p {
  text-align: left;
}

@media (min-width: 600px) {
  body {
    background: linear-gradient(90deg, #01DF01 50%, #0431B4 50%);
  }
  .flexbox {
    width: 1920px;
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
  }
  .summons, .schedule {
    -webkit-flex: 1;
    flex: 1;
    background: none;
  }
}
