// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.summons {
  background: #FFFFFF;
}

.schedule {
  background: #FFFFFF;
}

.summons, .schedule {
  color: rgba(0, 0, 0, 1);
  padding: 2%;
  text-align: center;
}

p {
  text-align: left;
}

table,th,td {
	border: 1px;
	border-style: solid;
	border-color: #808080;
	font-size:26px;
}

@media (min-width: 600px) {
  body {
    background: linear-gradient(90deg, #FFFFFF 50%, #FFFFFF 50%);
  }
  .flexbox {
    font-size:32px;
		width: 1920px;
    margin: 3px auto;
    display: -webkit-flex;
    display: flex;
  }
  .summons, .schedule {
    -webkit-flex: 1;
    flex: 1;
    background: none;
  }
}
